{% extends 'base/base.html' %}
{% load static %}
{% block title %}Event Calendar{% endblock title %}

{% block extracss %}
  <link href="{% static 'calender/main.css' %}" rel="stylesheet" />
{% endblock extracss %}

{% block breadcrumb %}
  <div>
      <h1><i class="fa fa-calendar"></i> Calendar</h1>
      <p>Event Calendar</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="#">Calendar</a></li>
  </ul>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile row">
            <div class="col-md-3">
                <div id="external-events">
                    <h4 class="mb-4">Running Events</h4>
                    {% for event in events_month %}
                      <div class="fc-event">
                          <h3>{{ event.title }}</h3>
                          <p>From: {{ event.start_time }}</p>
                          <p>To: {{ event.end_time }}</p>
                      </div>
                    {% empty %}
                      <p>No Running Events Found</p>
                    {% endfor %}
                </div>
                <div id="external-events">
                  <h4 class="mb-4">Member Events</h4>
                  {% for event in events_member %}
                    <div class="fc-event">
                        <h3>{{ event.event.title }}</h3>
                        <p>From: {{ event.event.start_time }}</p>
                        <p>To: {{ event.event.end_time }}</p>
                    </div>
                  {% empty %}
                    <p>No Running Events Found</p>
                  {% endfor %}
              </div>
            </div>
            <div class="col-md-9">
                <div id="calendar"></div>
            </div>

            <div class="modal fade show" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h5 class="modal-title text-white" id="exampleModalLongTitle">Add New Event</h5>
                            <button id="modalClose1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Event Title:</label>
                                    {{ form.title }}
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Description:</label>
                                    {{ form.description }}
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Start Date:</label>
                                    {{ form.start_time }}
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">End Date:</label>
                                    {{ form.end_time }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="modalClose2" type="button" class="btn btn-danger">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="modal fade show" id="eventDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                      <div class="modal-header bg-primary">
                          <h5 class="modal-title text-white" id="exampleModalLongTitle">Event Details</h5>
                          <button id="modalClose3" type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <form method="post" id="formDelete">
                          {% csrf_token %}
                          <div class="modal-body">
                              <div class="form-group">
                                  <label for="recipient-name" class="col-form-label">Event Title:</label>
                                  <div id="clickEventTitle"></div>
                              </div>
                              <div class="form-group">
                                  <label for="message-text" class="col-form-label">Description:</label>
                                  <div id="clickEventDes"></div>
                              </div>
                              <div class="form-group">
                                  <label for="message-text" class="col-form-label">Start Date:</label>
                                  <div id="clickEventStart"></div>
                              </div>
                              <div class="form-group">
                                  <label for="message-text" class="col-form-label">End Date:</label>
                                  <div id="clickEventEnd"></div>
                              </div>
                          </div>
                          <div class="modal-footer">
                              <a id="addMember" type="button" class="btn btn-primary">Add Member</a>
                              <button id="editEventBtn" type="button" class="btn btn-primary">Edit</button>
                              <button id="deleteEventBtn" type="submit" class="btn btn-danger">Delete</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="modal fade show" id="eventEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <h5 class="modal-title text-white" id="exampleModalLongTitle">Event Edit</h5>
                        <button id="modalClose4" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" id="editForm">
                      {% csrf_token %}
                      <table class="form form-table">
                        {{ form }}
                      </table>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                      </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="{% static 'calender/main.js' %}"></script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var today = new Date();

        var calendar = new FullCalendar.Calendar(calendarEl, {
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
          },
          initialDate: today,
          navLinks: true, // can click day/week names to navigate views
          selectable: true,
          selectMirror: true,
          select: function(arg) {
            console.log('clicked')
            var modal = document.getElementById('eventModal')
            modal.style.display = 'block'
            calendar.unselect()
          },
          // THIS KEY WON'T WORK IN PRODUCTION!!!
          // To make your own Google API key, follow the directions here:
          // http://fullcalendar.io/docs/google_calendar/
          // googleCalendarApiKey: 'AIzaSyCqCxjjLtjbtkX37aOtWB8OfwBLy_6QuYk',

          // bangladesh Holidays
          // events: 'bn.bd#holiday@group.v.calendar.google.com',
          eventClick: function(arg) {
            console.log('clicked')
            var modal = document.getElementById('eventDetail')
            document.getElementById("clickEventTitle").innerHTML = arg.event.title
            document.getElementById("clickEventDes").innerHTML = arg.event.extendedProps.description
            document.getElementById("clickEventStart").innerHTML = moment(arg.event.startStr).format("MMM. D, YYYY, h:mm a");
            document.getElementById("clickEventEnd").innerHTML = moment(arg.event.endStr).format("MMM. D, YYYY, h:mm a");
            document.getElementById("deleteEventBtn").addEventListener("click", function(){
              if (confirm('Are you sure you want to delete this event?')) {
                arg.event.remove()
              }
            })
            document.getElementById('addMember').setAttribute("href","/add_eventmember/"+arg.event.id)
            console.log(arg.event)
            modal.style.display = 'block'
            document.getElementById("formDelete").setAttribute("action", "/event/"+ arg.event.id+"/remove")
            document.getElementById("editEventBtn").addEventListener("click", function(){
              document.getElementById("eventEdit").style.display = 'block'
              modal.style.display = 'none'
              document.getElementById("editForm").setAttribute("action", "/event/edit/"+arg.event.id+"/")
            })
            calendar.unselect()
          },
          editable: true,
          dayMaxEvents: true, // allow "more" link when too many events
          events: {{ events | safe}},
          // events: [
          //   {
          //     title: 'All Day Event',
          //     start: '2021-06-26'
          //   },
          //   {
          //     groupId: 999,
          //     title: 'Repeating Event',
          //     start: '2020-09-16T16:00:00'
          //   },
          //   {
          //     title: 'Conference',
          //     start: '2020-09-11',
          //     end: '2020-09-13'
          //   },
          //   {
          //     title: 'Click for Google',
          //     url: 'http://google.com/',
          //     start: '2020-09-28'
          //   }
          // ]
        });

        calendar.render();
      });
      const closeBtn1 = document.getElementById('modalClose1');
      const closeBtn2 = document.getElementById('modalClose2');
      const closeBtn3 = document.getElementById('modalClose3');
      const closeBtn4 = document.getElementById('modalClose4');
      closeBtn1.addEventListener('click',()=>{
        const eventModal = document.getElementById('eventModal')
        eventModal.style.display = 'none';
      });
      closeBtn2.addEventListener('click',()=>{
        const eventModal = document.getElementById('eventModal')
        eventModal.style.display = 'none';
      });
      closeBtn3.addEventListener('click',()=>{
        const eventModal = document.getElementById('eventDetail')
        eventModal.style.display = 'none';
      });
      closeBtn4.addEventListener('click',()=>{
        const eventModal = document.getElementById('eventEdit')
        eventModal.style.display = 'none';
      });
  </script>
{% endblock extrascripts %}
