{% extends 'base/base.html' %}
{% load static %}
{% load mathfilters %}

{% block title %}Event Import{% endblock title %}

{% block breadcrumb %}
<div>
    <h1><i class="fa-solid fa-upload"></i> Import</h1>
    <p>Event Import</p>
</div>
<form method="POST" role="import" action="importExcel" enctype="multipart/form-data" id="form-import">
    {% csrf_token %}
    <label for="">Select a file:
        <input type="file" name="myfile" id="file-input" accept=".xlsx, .xls">
    </label>
    <button class="btn btn-outline-primary" type="submit">Submit</button>
</form>
<ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
    <li class="breadcrumb-item"><a href="#">Import</a></li>
</ul>
{% endblock breadcrumb %}
{% block content %}
<div class="col-md-12">
    <div class="tile">
        <div class="tile-body">
            <div class="table-responsive">
                <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 102.641px;">SL</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 417.312px;">Event Name</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 417.312px;">Description</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 189.281px;">Start Time</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 189.281px;">End Time</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 189.281px;">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for event in events_import %}
                                        <tr role="row" class="odd">
                                            <td class="sorting_1">{{ forloop.counter }}</td>
                                            <td>{{ event.0.title }}</td>
                                            <td>{{ event.0.description }}</td>
                                            <td>{{ event.0.start_time }}</td>
                                            <td>{{ event.0.end_time }}</td>
                                            {% if event.1 %}
                                            <td>Success</td>
                                            {% else %}
                                            <td>Duplicate</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
    <script>
  document.getElementById('form-import').addEventListener('submit', function(event) {
    const fileInput = document.getElementById('file-input');
    const fileName = fileInput.files[0].name;
  const allowedExtensions = ['.xlsx', '.xls'];
  const fileExtension = fileName.substring(fileName.lastIndexOf('.')).toLowerCase();
    if (!fileInput.files[0]) {
      event.preventDefault();
      alert("Please select a file.");
    }
  else if(!allowedExtensions.includes(fileExtension)){
    alert("please select excel file.");
  }
  else{
    alert("successful import.");
  }
  });
    </script>
{% endblock extrascripts %}